/*!* Breadcrumb *!*/
/*.breadcrumb {*/
/*    padding: 1rem 2rem;*/
/*    font-size: 0.9rem;*/
/*    color: #555;*/
/*}*/

/*.breadcrumb a {*/
/*    text-decoration: none;*/
/*    color: #555;*/
/*}*/

/*.breadcrumb a.active {*/
/*    background: #cbb9f1;*/
/*    color: #000000;*/
/*    padding: 0.2rem 0.6rem;*/
/*    border-radius: 4px;*/
/*}*/