/*!* Footer *!*/
/*.footer {*/
/*    margin-top: auto;*/
/*    background: #fafafa;*/
/*    padding: 2rem;*/
/*    border-top: 1px solid #eee;*/
/*}*/

/*.footer-column {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    gap: 2rem;*/
/*}*/

/*.footer-brand h2 {*/
/*    margin-bottom: 0.5rem;*/
/*}*/

/*.footer-brand h3 {*/
/*    margin-bottom: 0.5rem;*/
/*}*/

/*.footer-right {*/
/*    display: flex;*/
/*    gap: 3rem;*/
/*}*/

/*.footer-right h4 {*/
/*    font-size: 1rem;*/
/*    margin-bottom: 0.5rem;*/
/*}*/

/*.footer-right ul {*/
/*    list-style: none;*/
/*}*/

/*.footer-right li {*/
/*    color: #555;*/
/*    font-size: 0.9rem;*/
/*    margin-bottom: 0.3rem;*/
/*}*/

