body {
    margin: 0;
    padding: 0;
}

/* Hero */
.hero {
    text-align: center;
    padding: 4rem 1rem 2rem;
    color: #000000; /* Para que el texto se vea bien sobre la imagen */
    background-image: url('../images/mascotas4.jpg'); /* ruta de tu imagen */
    background-size: cover; /* hace que cubra todo el ancho */
    background-position: center; /* centra la imagen */
    background-repeat: no-repeat; /* evita que se repita */
    /*background-attachment: fixed;*/
    /*background-size: 100% 100%;*/
    height: 300px;
    opacity: 0.5;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    opacity: 1;
}

.hero p {
    color: #666;
    font-size: 1rem;
}

/* Main cards */
.main-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 280px;
    text-align: center;
    padding: 1.5rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Esto es para los enlaces dentro del a->card para que no cambien su forma y color */
.card,
.card:link,
.card:visited,
.card:hover,
.card:active {
    text-decoration: none; /* para que no se subraye */
    color: inherit; /* para que el color quede igual y no cambie cuando se clickea */
}

/* Efecto para cuando se pasa por encima de a -> card para que aparezca una sombrita y se mueva */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.card-image-vet {
    color: #ba0069;
    width: 100%;
    height: 150px;
    border-radius: 6px;
    margin-bottom: 1rem;
    background-image: url("../images/vet.jpg");
    background-size: cover; /* hace que cubra todo el ancho */
    background-position: center; /* centra la imagen */
    background-repeat: no-repeat; /* evita que se repita */
}

.card-image-vac {
    width: 100%;
    height: 150px;
    border-radius: 6px;
    margin-bottom: 1rem;
    background-image: url("https://i0.wp.com/puppis.blog/wp-content/uploads/2022/04/%C2%BFPor-que-es-importante-que-vacunemos-a-los-cachorros_-min.jpg?resize=900%2C600&ssl=1");
    background-size: cover; /* hace que cubra todo el ancho */
    background-position: center; /* centra la imagen */
    background-repeat: no-repeat; /* evita que se repita */
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    color: #ba0069;
}

.card p {
    font-size: 0.95rem;
    /*color: #666;*/
    color: #ba0069;
}
