/*.main-container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: flex-start;*/
/*    padding: 30px 40px;*/
/*    gap: 40px;*/
/*}*/

/*!* Cartas de veterinarias *!*/
/*.vets-section {*/
/*    flex: 1;*/
/*}*/

/*.vets-section h2 {*/
/*    font-size: 26px;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.subtitle {*/
/*    color: #777;*/
/*    margin-bottom: 25px;*/
/*}*/

/*.cards-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*}*/

/*.card {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 10px;*/
/*    padding: 15px;*/
/*    background: #fff;*/
/*    width: 360px;*/
/*}*/

/*.card-image {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    !*background-color: #e21f1f;*!*/
/*    background-image: url("../images/vet.jpg");*/
/*    background-size: cover; !* hace que cubra todo el ancho *!*/
/*    background-position: center; !* centra la imagen *!*/
/*    background-repeat: no-repeat; !* evita que se repita *!*/
/*    border-radius: 6px;*/
/*    margin-right: 15px;*/
/*}*/

/*.card-content h3 {*/
/*    margin: 0;*/
/*    font-size: 16px;*/
/*}*/

/*.card-content p {*/
/*    font-size: 13px;*/
/*    color: #666;*/
/*}*/



/*!* Calendario *!*/
/*.calendar-section {*/
/*    width: 360px;*/
/*    text-align: center;*/
/*    background: #efe4ff;*/
/*    padding: 20px;*/
/*    border-radius: 8px;*/
/*}*/

/*.calendar-header {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.calendar-grid {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(7, 1fr);*/
/*    gap: 5px;*/
/*    margin-top: 10px;*/
/*}*/

/*.calendar-grid div {*/
/*    padding: 6px;*/
/*    font-size: 13px;*/
/*    color: #333;*/
/*}*/

/*.today {*/
/*    border: 1px solid #000;*/
/*    border-radius: 50%;*/
/*}*/

/*.calendar-date {*/
/*    margin-top: 20px;*/
/*    font-weight: bold;*/
/*}*/